---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-gray-100 p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-2xl font-semibold text-center mb-6">Iniciar Sesi칩n</h2>
      <form method="POST" action="/api/login">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Correo electr칩nico
          </label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Contrase침a
          </label>
          <input
            type="password"
            id="password"
            name="password"
            required
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Iniciar Sesi칩n
        </button>
      </form>
    </div>
  </div>
</Layout>
