---
// Importamos Supabase en el server antes de que el HTML se envíe
import Layout from "../layouts/Layout.astro";
import { createClient } from "../lib/supabase";
import "../styles/global.css";

// Creamos el cliente Supabase en el server-side
const supabase = createClient({
  request: Astro.request,
  cookies: Astro.cookies,
});

// Obtenemos al usuario autenticado antes de que el HTML aparezca
const { data } = await supabase.auth.getUser();

if (data?.user) {
  // Si el usuário ya tiene sesión, lo redirigimos directamente
  return Astro.redirect("/protected");
}
---

<Layout>
  <section class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-4xl text-left font-bold mb-12">
      Inicia sesión en tu cuenta
    </h1>
    <form id="signin-form" class="flex flex-col gap-2 w-1/2">
      <label for="email" class="">Ingresa tu correo electrónico</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="tucorreo@example.com"
        class="border border-gray-500 rounded-md p-2"
        required
      />
      <button
        type="submit"
        id="sign-in"
        class="bg-gray-600 hover:bg-gray-700 p-2 rounded-md text-white font-bold w-full cursor-pointer disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:cursor-not-allowed"
      >
        Iniciar sesión
      </button>
    </form>
  </section>
</Layout>

<script>
  import { actions } from "astro:actions";

  const signInForm = document.querySelector("#signin-form") as HTMLFormElement;
  const formSubmitBtn = document.getElementById("sign-in") as HTMLButtonElement;

  signInForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    formSubmitBtn!.disabled = true;
    formSubmitBtn!.textContent = "Iniciando sesión...";

    try {
      const formData = new FormData(signInForm);
      const results = await actions.signIn(formData);

      if (!results.data?.success) {
        formSubmitBtn.disabled = false;
        formSubmitBtn.textContent = "Iniciar sesión";
        return alert(
          "Ups! No se pudo iniciar sesión. Por favor intenta de nuevo."
        );
      }
      formSubmitBtn.textContent = "Iniciar sesión";
      return alert(
        "Revisa tu correo electrónico para completar el inicio de sesión."
      );
    } catch (error) {
      formSubmitBtn.disabled = false;
      formSubmitBtn.textContent = "Iniciar sesión";
      console.log(error);
      return alert("Algo salió mal. Por favor intenta de nuevo.");
    }
  });
</script>
