<section>
  <article>
    <img
      src="/Images/cuarto1.jpeg"
      alt="Imagen del cuarto"
      class="w-1/2 m-auto"
    />
  </article>
  <article>
    <h2 class="text-2xl font-bold text-center mt-4">Cuarto Estándar</h2>
    <p class="text-lg text-gray-700 text-center mt-2">
      Este cuarto cuenta con todas las comodidades necesarias para una estancia
      agradable. Equipado con cama matrimonial, escritorio, y baño privado.
    </p>
    <p class="text-lg text-gray-700 text-center mt-2">
      Precio: <strong>$500</strong> al mes
    </p>
    <button
      class="p-2 bg-blue-600 text-white p-2 m-2 rounded-md hover:bg-blue-500 transition"
      ><a href="/">Regresar</a></button
    >
  </article>
</section>
