<section class="flex justify-around items-center p-4 bg-gray-300">
  <article class="mx-2">
    <img src="/favicon.svg" alt="logo" class="w-10 h-10" />
  </article>
  <article class="mx-2">
    <h1 class="text-2xl font-bold">R 4 N T U</h1>
  </article>
  <article class="flex mx-2 space-x-4">
    <ul class="flex space-x-4">
      <li class="list-none cursor-pointer hover:text-white transition">
        <a href="/">Home</a>
      </li>
      <li class="list-none cursor-pointer hover:text-white transition">
        <a href="/iniciar">Iniciar</a>
      </li>
      <li class="list-none cursor-pointer hover:text-white transition">
        <a href="/registrar">Registrar</a>
      </li>
    </ul>
  </article>
</section>
